In [59]:
import pandas as pd
import numpy as np

In [60]:
# importing dataset
data = pd.read_csv("../input/spotify-dataset/data/data.csv")

In [61]:
# table columns info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170653 entries, 0 to 170652
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   valence           170653 non-null  float64
 1   year              170653 non-null  int64
 2   acousticness      170653 non-null  float64
 3   artists           170653 non-null  object
 4   danceability      170653 non-null  float64
 5   duration_ms       170653 non-null  int64
 6   energy            170653 non-null  float64
 7   explicit          170653 non-null  int64
 8   id                170653 non-null  object
 9   instrumentalness  170653 non-null  float64
 10  key               170653 non-null  int64
 11  liveness          170653 non-null  float64
 12  loudness          170653 non-null  float64
 13  mode              170653 non-null  int64
 14  name              170653 non-null  object
 15  popularity        170653 non-null  int64
 16  release_date      170653 non-null  object
 17  speechiness       170653 non-null  float64
 18  tempo             170653 non-null  float64
dtypes: float64(9), int64(6), object(4)
memory usage: 24.7+ MB

In [62]:
# dropping feature columns:
data = data.drop(['valence', 'acousticness', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'mode','speechiness','tempo','key', 'id', 'year'], axis=1)

In [63]:
#table info update
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170653 entries, 0 to 170652
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   artists       170653 non-null  object
 1   duration_ms   170653 non-null  int64
 2   explicit      170653 non-null  int64
 3   name          170653 non-null  object
 4   popularity    170653 non-null  int64
 5   release_date  170653 non-null  object
dtypes: int64(3), object(3)
memory usage: 7.8+ MB

In [64]:
#re-ordering the columns
data = data.reindex(columns=['artists', 'name', 'explicit', 'popularity', 'release_date', 'duration_ms'])
data

,artists,name,explicit,popularity,release_date,duration_ms
0,"['Sergei Rachmaninoff', 'James Levine', 'Berli...","Piano Concerto No. 3 in D Minor, Op. 30: III. ...",0,4,1921,831667
1,['Dennis Day'],Clancy Lowered the Boom,0,5,1921,180533
2,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,Gati Bali,0,5,1921,500062
3,['Frank Parker'],Danny Boy,0,3,1921,210000
4,['Phil Regan'],When Irish Eyes Are Smiling,0,2,1921,166693
...,...,...,...,...,...,...
170648,"['Anuel AA', 'Daddy Yankee', 'KAROL G', 'Ozuna...",China,0,72,2020-05-29,301714
170649,['Ashnikko'],Halloweenie III: Seven Days,0,68,2020-10-23,150654
170650,['MAMAMOO'],AYA,0,76,2020-11-03,211280
170651,['Eminem'],Darkness,1,70,2020-01-17,337147
170652,"['KEVVO', 'J Balvin']",Billetes Azules (with J Balvin),1,74,2020-10-16,189507

In [65]:
# turning duration from ms to seconds
data['duration_ms'] = data['duration_ms'].div(1000).round(0).astype(int)
data.rename(columns = {'duration_ms':'duration_s'}, inplace = True)
data['duration_s']

0         832
1         181
2         500
3         210
4         167
         ...
170648    302
170649    151
170650    211
170651    337
170652    190
Name: duration_s, Length: 170653, dtype: int64

In [66]:
#exporting the new dataframe for power BI visualization
data.to_csv('dataset-da.csv')